
@font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2');         
    font-weight: normal;
    font-style: normal;

}


.copy_value{
    width: 20%;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
    padding: 10px;
    color: #fff
}

button {
    -webkit-app-region: no-drag;
  }
.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

body{
    background-color:#9013FE;
    font-size: 14px;
    font-family: 'karlaregular';
}

footer{
    background: #FBFBFB;
    padding:10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer button{
    background: #313A5A;
    padding: 8px 15px;
    color: #fff;
    font-size: 12px;
    border: none;
}