@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2');         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2');         
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    background:rgba(0,0,0,0.4);
    /* box-shadow:  inset 0 0 6px rgba(0,0,0,0.5);  */
}

body{
    background-color:#292929;
    font-size: 14px;
    font-family: 'latoregular';
    letter-spacing: 1px;
    font-weight: normal;
    overflow: hidden;
}
.btn{
    background: #E8175D;
    padding: 8px 15px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-family: 'latoregular';
    cursor: pointer;
}
.btn:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
.app_title{
    margin-top: 35px;
    margin-bottom: 15px;
    color: #dadada;
    font-weight: normal;
    font-size: 15px;
    padding: 0px 0 0px 25px;   
    float: left;
    width: 60%;
    -webkit-app-region: drag;
}

.app_title img{
    width: 40px;
}
.app_title b, .app_title span{
    display: inline-block;
    vertical-align: top;
    line-height: 43px;
    padding-left: 5px;
}
.app_title span{
    color: #A8A7A7;
    text-transform: capitalize;
    font-size: 14px;
}
.app_title span:before{
    content: "|";
    display: inline-block;
    padding-right: 5px;
    color: #A8A7A7;
}
.header_button--cont{
    float: right;
    margin-top: 29px;
    margin-right: 20px;
}
.header__active{
    /* transform: translateX(-44%); */
}
#right_cont{
    padding: 0px 10px 30px 10px;
    margin-top: 10px;
    width: 100%; 
    transition: all 1s ease;
    height: 609px;
    float: left;
    overflow-y: auto;
}
.var_title{
    background: rgba(51, 51, 51, 0.79);
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
    text-transform: capitalize;
    color: #b9b9b9;
    font-weight: bold;
    margin-bottom: 0px;
    border-bottom: 1px solid #383838;
}
.var_content{
    display: none;
    background: #212121;
    padding: 10px;
} 

.variable_container{
    color: #e3e3e3;
    padding: 5px 5px 5px 0px;
    font-size: 12px;
    display: inline-flex;
    width: 46%;
    position: relative;
    margin-bottom: 10px;
}
.variable__name{
    display: inline-block;
    margin-right: 10px;     
    text-transform: capitalize;  
    width: 200px;
    text-align: right;   
    color: #909090;
}

.comments {
   display: inline-block;
   vertical-align: top;
   vertical-align: middle;
   margin-left: 10px;
   cursor: help;
}

.comments span{    
    background-image: url('../img/info.svg');
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
}
.comments p{
    position: absolute;
    background:rgb(16, 16, 16);
    line-height: 19px;
    color: #888888;
    padding: 10px;
    bottom: 37px;
    right: 62px;
    width: auto;
    font-size: 11px;
    border-radius: 5px;    
    opacity: 0;
    visibility: hidden;    
}

.variable_container .comments:hover p{
    opacity: 1;
    visibility: visible;
}

input[type="text"]{
    padding: 5px;
    box-shadow: none;
    border: none;
    vertical-align:top;
}

.paste_button{
    position: absolute;
    background-image: url('../img/paste_icon.svg');
    width: 20px;
    height: 20px;
    font-size: 0px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    vertical-align: top;
    margin-left: 10px;
    position: relative;
}
.color_display{
    background: #333763;
    position: fixed;
    bottom: 0;
    padding: 20px;
} 

.upload_container{
    position: absolute;
    width: 80px;
    top: 102px;
    right: 0;
    background:rgba(51, 51, 51, 0.79);
    height: 659px;
    z-index: 1;
    transform: translateX(150px);
    overflow-y: auto;
    transition: all 1s ease;
}

.upload_container img{
    width: 100%;
}

#uploaded__image{
    display: none
}
.upload_button--cont{
    float: left;
    position: relative;
    margin-top: 10px;
}
.chmln__colors-elem{
    padding: 10px;
    display: block;
    position: relative;
    font-size: 12px; 
}
.chmln__colors-elem:before{
    opacity: 0;
    visibility: hidden;
    content: "COPY";
    position: absolute;
    width: 80px;    
    z-index: 2;
    background: rgba(0,0,0,0.9);    
    color: #e8e8e8;
    top: 0;
    text-align: center;
    font-size: 11px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
    left: 0;
    font-weight: bold;
    font-family: 'latobold';
    transition: all .5s ease;
}
.chmln__colors-elem:hover:before{
    visibility: visible;
    opacity: 1;
}
.right_panel--active{
    transform: translateX(0);
}
#right_cont.left_panel--active{ 
    width: 92%;
}
.copy_value{
    width: 100%;
    height: 7px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0px;        
    color: #fff;
    z-index: 1;
}

button {
    -webkit-app-region: no-drag;
  }
.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}

footer{
    background: #FBFBFB;    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;   
    z-index: 2; 
}
.export__file{
    float: left;     
    background: transparent;   
    line-height: 33px; 
    color: #A8A7A7;
    position: relative;
    z-index: 9

}
.export__file:before{
    content: "";
    background-image: url('../img/download_theme-icon.svg');
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: top;
    padding-right: 7px;
}
.upload_button--cont input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
}




#Layout .variable_container,
#Buttons .variable_container,
#PrimaryButton .variable_container
{
    width:50%;
}

#Layout .variable__name,
#Buttons .variable__name,
#PrimaryButton .variable__name
{
    width:238px;
}
.red{
    color: red;
    background: red;
}

.theme__p--cont{
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
    z-index: 9;
    top: 0;
}

.popup__cont{
    position: absolute;;
    width: 300px;
    height: 300px;
    background: #fff;
    z-index: 9;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.popup__row{
    width: 100%;
    padding: 20px;
}
.popup__row input{
    border: 1px solid #000;
    padding: 10px;
    width: 100%;
}
.box__container{
    position: relative;
}
.view__button{
    position: absolute;
    right: 20px;
    top: 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background: transparent url('../img/clipboard.svg') no-repeat center center;
    font-size: 0px; 
    width: 19px;
    height: 20px; 
    background-size: cover;
}
.view__button:hover:before{
    opacity: 1;
    visibility: visible;
}

.view__button:before{
    content: "Copy to Clipboard";
    position: absolute;
    background: rgba(0, 0, 0, 0.46);
    font-size: 10px;
    width: 98px;
    left: -112px;
    color: #888888;
    padding: 4px 5px;
    border-radius: 4px;
    top: 2px; 
    visibility: hidden;
    opacity: 0;   
}

.selection__overlay{
    position: fixed;
    width: 100%;
    height: 100%;
   background: rgba(0,0,0,.9);
   z-index: 10; 
   text-align: center;   
}
.selection__overlay span{
    display: inline-block;
    color: #fff;
    background: #E8175D;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    cursor: pointer;
    transition: all .5s ease;
}
.selection__overlay span:hover{    
    background: rgba(150, 150, 150, 0.79);
    color: #000;
}


.selection__overlay span + span{
    margin-left: 10px;
}

.selection__overlay p{
    display: inline-block;
    width: 100%;
    color: #cacaca;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 24px;
    font-size: 14px;
    text-transform: capitalize;
}

.notification__cont{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background:#CC527A;    
    color: #e8e8e8;
    padding: 12px;
    border-radius: 4px;
    font-size: 12px;        
}

.success_toast{
    background: #9DE0AD;
    color: #000;
}

.error_toast{
        background: #FF4E50;
}

.chmln-demo__colors{
    color: #8c8c8c;
    font-size: 13px;        
}

