
//base
@page__background-color:#5EDFFF;
@link__color:#5EDFFF;
@link__visited__color:#4a6dab;
@link__hover__color:#5EDFFF;

//Layout

//Button

//PrimaryButton

//Navigation

//Navigation_active

//Navigation_Submenu

//Desktop_Navigation

//Desktop_Submenu

//Desktop_Submenu_Arrow

//Desktop_Submenu_item

//dropdowns

//forms

//messages

//pager

//popup

//rating
