
//base
@page__background-color:#352EFF;
@link__color:#FF7D59;

//Layout

//Button

//PrimaryButton
@button-primary__background:#FFF6F2;
@button-primary__gradient-color-end:#FFF6F2;

//Navigation

//Navigation_active

//Navigation_Submenu

//Desktop_Navigation

//Desktop_Submenu

//Desktop_Submenu_Arrow

//Desktop_Submenu_item

//dropdowns

//forms

//messages

//pager
