<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Upload</title>
</head>
<body>
    <input type="file">
    <script>window.$ = window.jQuery = require('./js/jquery-3.3.1.min.js');</script>
    <script>
  $("input").change(function(e) {

for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
    
    var file = e.originalEvent.srcElement.files[i];
    
    var img = document.createElement("img");
    var reader = new FileReader();
    reader.onloadend = function() {
         img.src = reader.result;
    }
    reader.readAsDataURL(file);
    $("input").after(img);
}
});
    </script>
</body>
</html>